:root {
  --primary-text-color: #212121;
  --logo-accent-header: #000000;
  --accent-color: #2196f3;
  --logo-accent-footer: #ffffff;
  --secondary-text-color: #757575;
  --contacts-color-footer: rgba(255, 255, 255, 0.6);
}
body {
  background-color: var(--logo-accent-footer);
  color: var(--logo-accent-header);
  font-family: Roboto, sans-serif;
}
a {
  text-decoration: none;
  font-style: normal;
}
.logo-web,
.logo-studio,
.logo-studiotwo {
  font-family: Raleway, sans-serif;
}
.logo-web {
  font-size: 26px;
  font-weight: 700;
  color: var(--accent-color);
}
.logo-studio {
  font-size: 26px;
  font-weight: 700;
  color: var(--logo-accent-header);
}
.logo-studiotwo {
  font-size: 26px;
  font-weight: 700;
  color: var(--logo-accent-footer);
}
.nav-mail-tel {
  margin: 0;
  padding: 0;
}
.nav a {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-text-color);
}
.nav-mail-tel a {
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary-text-color);
}
.nav a:hover {
  color: var(--accent-color);
}
.nav-mail-tel a:hover {
  color: var(--accent-color);
}
ul {
  list-style: none;
}
nav .link-current {
  color: var(--accent-color);
}
.head-one {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 44px;
  font-weight: 900;
  color: white;
  background-color: #2f303a;
  line-height: 1.36;
}
.order {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 1.88;
}
.button-order {
  background: var(--accent-color);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
}
.specialty h3 {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-text-color);
}
.specialty p {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-text-color);
  line-height: 1.71;
}
h2 .headtwo {
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-text-color);
}
.people h3 {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-text-color);
}
.people p {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary-text-color);
}
.address-footer a {
  font-size: 14px;
  font-weight: 400;
  color: var(--logo-accent-footer);
  line-height: 1.71;
}
.address-footer .address-mail-tel {
  color: var(--contacts-color-footer);
}
.address-footer a:hover {
  color: var(--accent-color);
}
.filter-portfolio button {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  line-height: 1.63;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filter-portfolio button:hover {
  background-color: var(--accent-color);
  color: var(--logo-accent-footer);
}
.hide {
  display: none;
}
.portf-portf h2 {
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-text-color);
  line-height: 2;
}
.portf-portf p {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary-text-color);
  line-height: 1.88;
}

a:focus {
  color: var(--accent-color);
}
footer {
  background-color: #2f303a;
}
.team {
  background-color: #f5f4fa;
}
/*margin-padding*/
.container {
  padding-left: 15px;
  padding-right: 15px;
}
